
.uf-field label {
	font-weight: bolder;
	font-size: 1em;
}

.uf-field {
    display: flex;
    justify-content: space-around;
}

.user-form {
	margin-left: auto;
	margin-right: auto;
	width: 10%;
	margin-bottom: 1rem;
}